extends layout.jade

block content
  input(id="subject" class="inputs" type="text" placeholder="write the subject here")
  input(id="content" class="inputs" type="text" placeholder="write your mail here")
  button(id="button" onclick="sendMail()") click here to send an email
